# Core stack
pandas<3.0.0
numpy
pyarrow
pyyaml
matplotlib
requests
urllib3
yfinance
scipy
scikit-learn
statsmodels
threadpoolctl
joblib
lxml
pandas-ta

# Model Families
xgboost
lightgbm

# Data Access (WRDS / DB)
wrds
sqlalchemy
psycopg2-binary

# API / UI Layer
flask
flask-cors
asgiref
uvicorn[standard]
